.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
    position: relative;
  }
  
  .modal-content img,
  .modal-content video {
    max-width: 90vw;
    max-height: 80vh;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .close-button:hover {
    background-color: darken(var(--primary-color), 10%);
  }
  